@font-face {
	font-family: "CommitMono";
	src: url("/fonts/CommitMono-400-Regular.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "CommitMono";
	src: url("/fonts/CommitMono-400-Italic.otf") format("opentype");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "CommitMono";
	src: url("/fonts/CommitMono-700-Regular.otf") format("opentype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "CommitMono";
	src: url("/fonts/CommitMono-700-Italic.otf") format("opentype");
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "NerdFont";
	src: url("/fonts/SymbolsNerdFontMono-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Georgia";
	src:
		url("/fonts/georgia-webfont.woff2") format("woff2"),
		url("/fonts/georgia-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Georgia";
	src:
		url("/fonts/georgiab-webfont.woff2") format("woff2"),
		url("/fonts/georgiab-webfont.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "Georgia";
	src:
		url("/fonts/georgiai-webfont.woff2") format("woff2"),
		url("/fonts/georgiai-webfont.woff") format("woff");
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: "Georgia";
	src:
		url("/fonts/georgiaz-webfont.woff2") format("woff2"),
		url("/fonts/georgiaz-webfont.woff") format("woff");
	font-weight: bold;
	font-style: italic;
}

body,
header,
footer,
pre {
	font-family: "CommitMono", monospace, monospace;
}

body.blog {
	font-family: "Georgia", serif;
}

.nf {
	font-family: "NerdFont";
}
